@import "compass/css3";

@import "compass";

/* HEADER */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 66px;
	line-height: 66px;
	color: #fff;
	background-color: #265209;
}

.header__logo {
	font-weight: 700;
	padding-left: 5px;
	padding-right: 10px;
	float: left;
	font-size: 15pt;
}

.header__icon {
	float : left;
	padding-left: 1.1em;
}

/* MENU */
.menu {
	display: flex;
	font-size: 1.2em;
}

.menu > .menu_item {
	flex-grow: 1;
	word-spacing: 1.2em;
}

.menu > .menu_category {
	text-align: center;
}

.menu > .menu_notice_cs, .menu_login_join,
.menu_sreach, .menu_cart_sitemap {
	text-align: right;
}

.menu > .menu_cart_sitemap {
	padding-top: 0.5em;
}

.menu a:hover {
	color: #c5cae9;
}
