@charset "UTF-8";

/* login_01 start */
.login_01-id-box, .login_01-pwd-box, .login_01-btn, .login_01-non-member-search{
	width: 100%;
	height: 50px;
}

.login_01-id-box, .login_01-pwd-box {
	margin-bottom: 5px;
	padding-left: 30px;
	background-position: left;
	background-repeat: no-repeat;
}

.login_01-id-box {
	background-image: url("../img/common/id_icon.png");
}

.login_01-pwd-box {
	background-image: url("../img/common/pwd_icon.png");
}

.login_01-btn {
	border: none;
	color: #fff;
	background-color: #000;
}

.login_01-id-pwd-find {
	margin-top: 10px;
	text-align: right;
}

.login_01-id-pwd-find > a {
	color: #000;
}

.login_01-naver-kakao-login {
	width: 200px;
	height: 50px;
	
}
.login_01-naver-login {
	background-color: #03c75a;
}

.login_01-kakao-login {
	background-color: #fee500;
}

.login_01-sns-login-btn > a {
	text-align: center;
	display: block;
	margin-bottom: 5px;
}

.login_01-join-text {
	margin-top: 5px;
	font-size: 17px;
	text-align: center;
}

.login_01-join-text > a {
	color: #427442;
}

.login_01-non-member-search {
	border: none;
}

.login_01-non-member-search > a {
	color: #000;
}
/* login_01 end */

/* login_02 start */
.login_02-top {
	font-size: 22px;
	margin: 30px 0px;
}

.login_02-id-find, .login_02-pwd-find {
	padding-left: 10px;
}

.login_02-id-find, .login_02-pwd-find, .login_02-btn {
	width: 92%;
	height: 50px;
	margin-bottom: 20px;
}

.login_02-btn {
	border: none;
	background-color: #404040;
	color: #fff;
	box-sizing: border-box;
}

.login_02-id-btn {
	margin-top: 40px;
}

.login_02-pwd-btn-01, .login_02-pwd-btn-02 {
	width: 43%;
	margin-bottom: 60px;
    margin-top: 110px;
}

.login_02-pwd-btn-01 {
	margin-right: 21px;
}

.login_02-main {
	margin-top: 100px;
}
/* login_02 end */

/* login_03 start */
.login_03-id-find-title {
	font-family: 'kopub_bold';
	font-size: 45px;
	margin: 60px 0px 35px 0px;
}

.login_03-id-text {
	margin: 50px 0px;
	font-size: 35px;
}

.login_03-user-id {
	font-family: 'kopub_bold';
}

.login_03-lookup {
	margin: 50px 0px;
}

.login_03-btn {
	width: 90%;
	height: 50px;
	border: none;
	margin-top: 200px;
}

.login_03-btn > a {
	color: #fff;
}

.login_03-id-pwd-find {
	background-color: #787878;
}

.login_03-login-page {
	background-color: #404040;
}