/* 2021.11.24 ÀÓ¼®Èñ */

@charset "UTF-8";


.MyPage_side-section {
	position:fixed;
	top:200px;
	left:0;
	width:500px;
	font-size:16px;
	margin-top: 30px;
}
.MyPage_padding {
	padding-top: 20px;
}

.MyPage_side-section a {
	display:block;
	line-height:60px;
	background-color: #f2f2f2;
	color: #000;
}
.MyPage_welcome {
	
	border-bottom : 2px solid #000000;
}

.MyPage_01_subtitle a {
	color: #000000;
	
}


.MyPage_title {

	font-size: 25px;
	font-weight: bold;
}

.Mypage_01_header {
	padding-top: 30px;
}

.MyPage_01_title {
	margin-top: 30px;
	font-size: 20px;
	background-color: #d9d9d9;
}

.MyPage_01_content {
	line-height: 200px;
	font-size: 15px;
	background-color: #ffffff;
}

.MyPage_01_content > a {
	color: #000;
}

.MyPage_02_hr {
	padding-top: 65px;
}

.MyPage_02 {

	font-size: 25px;
	font-weight: bold;
}

.MyPage_02_text {
	font-size: 18px;
	font-weight: normal;
	padding-top: 100px;
	padding-bottom: 100px;
}

.MyPage_02_password_box {
	width: 400px;
	height: 35px;
}


.MyPage_02_button_01 {
	display: block;
	background-color: #385723;
	font-size: 16px;
	height: 45px;
	color: #ffffff;
	margin-left: 220px;
	margin-right: 100px;
	padding-top: 10px;
}


.MyPage_02_button_02 {
	display: block;
	background-color: #767171;
	font-size: 16px;
	color: #ffffff;
	padding-top: 10px;
}

.MyPage_02_button_01:hover, .MyPage_02_button_02:hover {
	color: #fff;
}

.MyPage_02_01_info {
	display:block;
	line-height:60px;
	font-size: 16px;
	font-weight: normal;
	background-color: #f2f2f2;
	color: #000;
}

.dropOut_01_sub {
	display: block;
	height: 60px;
	
}