@import "compass/css3";

@import "compass";


/* BASE */
html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	line-height: 1.4;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.container { @include clearfix;
	margin: 0 20px;
}

.site-content {
	padding-top: 66px;
}

/* HEADER */
.header {
	position: fixed;
	left: 0;
	right: 0;
	height: 66px;
	line-height: 66px;
	color: #fff;
	background-color: #265209;
}

.header__logo {
	font-weight: 700;
	padding-left: 5px;
	padding-right: 10px;
	float: left;
	font-size: 15pt;
}

.header__icon {
	float : left;
	padding-left: 15px;
}

/* MENU */
.menu {
	float: left;
	font-size: 13pt;
}

.menu>a {
	padding: 0 10px;
}

.menu>a:hover {
	color: #c5cae9;
}


.footer {
	position: bottom_absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border: 0px solid;
	padding: 15px 0;
	text-align: center;
	font-size: 8pt;
}

.footer_line {
	color : #737373;
}

.clear {
	clear: both;
}