@charset "UTF-8";

.cart_agree_bt {
	margin-top: 60px;
}

.cart_title {
	border-top: 2px solid #000000;
	border-bottom: 1px solid #d9d9d9;
	height: 40px;
	line-height: 40px;
}

.cart_total {
	border-top: 2px solid #000000;
	border-bottom: 1px solid #d9d9d9;
	background: #f2f2f2;
	height: 40px;
	line-height: 40px;
}

.cart_total_1 {
	margin-left: 15px;
}

.cart_total_body {
	background: #f2f2f2;
	line-height: 50px;
}

.cart_list_body a{
		color : #000000;
}
.cart_body {
	border-bottom: 1px solid #000000;
	line-height: 90px;
	height: 90px;

}

.cart_image_clip {
	width: 120px;
	border: 1px solid #000000;
}

.maybe_cost {
	font-family: "kopub_bold";
	font-size: 18px;
	color: #c71c12;
}

.maybe_cost_text {
	font-family: "kopub_bold";
	font-size: 15px;
}

.cart_total_bottom {
	line-height: 40px;
	border-top: 1px solid #d9d9d9;
}

.cart_list_bt input {
	margin: 10px 0px 0px 5px;
}

.cart_list_bottom_hr {
	margin-top: 80px;
	border-top: 1px solid #000000;
	padding-top : 10px;
}