@charset "UTF-8";

.top_icon {
	width: 10px;
	height: 10px;
}

#quickMenu {
	position: sticky;
	display: flex;
	flex-direction: column;
	
	bottom : 500px;
	right : 30px;

	align-items: center;
	width: 70px;
	height: 100px;
	background-color: #ededed;
	color: #000000;
	border: 2px solid #000000;
	/* 부드러운 테두리 */
	border-radius: 15px;
}

.pastImage {
	width: 50px;
	height: 30px;
	border: 1px solid #000000;
	
}

.quickMenu_item {
	flex-grow: 1;
	font-size : 0.75em;
}

#top_icon {
	width : 10px;
	height: 10px;
}