<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">


	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
    
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">


</head>
<body>
	<!-- product section -->
	<div class="product-section">
		<div class="container">
			<div class="row">


			</div>

			<div class="row">
                <div class="col-lg-4 offset-lg-1"><hr></div>
				<div class="col-lg-2 text-center">
					
                    <div class="section-title">	
						<p>BEST ITEM<p>
					</div>
				</div>
                <div class="col-lg-4"><hr></div>
			</div>
            <br>

			<div class="row">
                
				<div class="col-lg-4 col-md-4 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets/img/products/product-img-1.jpg" alt=""></a>
						</div>
						</div>
				</div>
				<div class="col-lg-4 col-md-4 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets/img/products/product-img-2.jpg" alt=""></a>
						</div>
						
					</div>
				</div>
				<div class="col-lg-4 col-md-4 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets/img/products/product-img-3.jpg" alt=""></a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->


</body>
</html>